## Introducción

En estos ejercicios vamos a trabajar con el dataset alojado en la ruta del curso **/Dia-03/datasets/harvard_reviews.csv**

Ejecuta la siguiente celda para el dataframe con el contenido del dataset.

## Ejercicio 1

Selecciona la columna ``text`` del dataframe reviews y asignalo a una variable llamada ``col_texto``

Pregunta complementaria: ¿qué tipo de objeto es **col_texto**? Si no estás seguro, puedes comprobarlo llamando a la función type de Python: type(desc).

## Ejercicio 2

Selecciona el primer valor de la columna `text` de reviews, asignándolo a la variable `primer_texto`.

## Ejercicio 3

Selecciona la primera fila de datos (el primer registro) de `reviews`, asignándola a la variable `primera_fila`.

## Ejercicio 4

Selecciona los 10 primeros valores de la columna `title` en `reviews`, asignando el resultado a la variable `primeros_titulos`.

Sugerencia: formatea su salida como una Serie pandas.

## Ejercicio 5

Selecciona los registros con etiquetas de índice `1`, `2`, `3`, `5` y `8`, asignando el resultado a la variable `reviews_filtradas`.

En otras palabras, genere el siguiente DataFrame:

<img src="imgs/ej-05.PNG">

## Ejercicio 6

Crea una variable `df` que contenga las columnas `published_platform`, `rating`, `type` y `helpful_votes` de los registros con las etiquetas de índice `0`, `1`, `10` y `100`. En otras palabras, genera el siguiente DataFrame:

## Ejercicio 7

Crea una variable `df` que contenga las columnas `title` y `text` de los 100 primeros registros.

## Ejercicio 8

Crea un DataFrame llamado `harvard_rating` que contenga los registros donde los valores de la columna `rating` sean mayor que 3.

## Ejercicio 9

Crea un DataFrame llamado `harvard_mobile` que contenga los registros donde los valores de la columna `rating` sean mayor que 3 y además las reviews se hayan hecho por el móvil. 

Pista: Fíjate en la columna `published_platform`

## Ejercicio 10

Añade una nueva columna al dataframe de `reviews` llamada `rating_europe` en la cuál se debe almacenar los valores de la columna `rating` multiplicados por 2.